{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
{%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
{%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {{ metatags }}
    <meta name="viewport" content="width=375,user-scalable=no">
    {% block htmltitle %}
    <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    {% endblock %}

    {# FAVICON #}
    {% if favicon %}
    <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
    {% endif %}

    {# CSS #}

    {# OPENSEARCH #}
    {% if not embedded %}
    {% if use_opensearch %}
    <link rel="search" type="application/opensearchdescription+xml" title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}" href="{{ pathto('_static/opensearch.xml', 1) }}"/>
    {% endif %}

    {% endif %}

    {# RTD hosts this file, so just load on non RTD builds #}
    {% if not READTHEDOCS %}
    <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" />
    {% endif %}

    {% for cssfile in css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {% endfor %}

    {% for cssfile in extra_css_files %}
    <link rel="stylesheet" href="{{ pathto(cssfile, 1) }}" type="text/css" />
    {% endfor %}

    {%- block linktags %}
    {%- if hasdoc('about') %}
    <link rel="author" title="{{ _('About these documents') }}"
          href="{{ pathto('about') }}"/>
    {%- endif %}
    {%- if hasdoc('genindex') %}
    <link rel="index" title="{{ _('Index') }}"
          href="{{ pathto('genindex') }}"/>
    {%- endif %}
    {%- if hasdoc('search') %}
    <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}"/>
    {%- endif %}
    {%- if hasdoc('copyright') %}
    <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}"/>
    {%- endif %}
    <link rel="top" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
    {%- if parents %}
    <link rel="up" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
    {%- endif %}
    {%- if next %}
    <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
    {%- endif %}
    {%- if prev %}
    <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
    {%- endif %}
    {%- endblock %}
    {%- block extrahead %} {% endblock %}

    {# Keep modernizr in head - http://modernizr.com/docs/#installing #}
    <script src="{{ pathto('_static/js/modernizr.min.js', 1) }}"></script>

</head>

<body class="wy-body-for-nav" role="document">

    <div id="header">
        <header class="navbar navbar-static-top navbar-fixed-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.hashdata.xyz">
                        <img alt="Brand" src="{{ pathto('_static/img/logo.png', 1) }}">
                    </a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="nav-index">
                            <a href="http://www.hashdata.xyz">首页</a>
                        </li>
                        <li id="nav-product">
                            <a href="http://www.hashdata.xyz/product">产品</a>
                        </li>
                        <li id="nav-case">
                            <a href="http://www.hashdata.xyz/case">案例</a>
                        </li>
                        <li id="nav-blog">
                            <a href="http://www.hashdata.xyz/blog">博客</a>
                        </li>
                        <li id="nav-doc" class="active">
                            <a href="http://www.hashdata.xyz/docs">文档</a>
                        </li>
                        <li class="dropdown" id="nav-aboutus">
                            <a href="aboutus" class="dropdown-toggle" data-toggle="dropdown">酷克数据<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://www.hashdata.xyz/#block-aboutus-img">关于我们</a></li>
                                <li><a href="http://www.hashdata.xyz/aboutus">加入我们</a></li>
                                <li> <a href="http://www.greenplum.net.cn/" target=_blank>社区</a></li>
                            </ul>
                        </li>
                        <li class="try">
                            <a href="http://www.hashdata.xyz/trial">点击试用</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

        <div id="m-header">
	    <nav id="m-nav">
		<button id="m-nav-btn">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
            <div class="wy-nav-top-search">
                {% include "searchbox.html" %}
            </div>
	    </nav>
	    <div id="m-index">
		<ul>
		    <li class=""><a href="http://www.hashdata.xyz/">首页</a></li>
		    <li class=""><a href="http://www.hashdata.xyz/product">产品</a></li>
		    <li class=""><a href="http://www.hashdata.xyz/case">案例</a></li>
		    <li class=""><a href="http://www.hashdata.xyz/blog">博客</a></li>
		    <li class="active"><a href="http://hashdata-docs.readthedocs.io/zh_CN/latest/getStarted.html">文档</a></li>
		    <li class=""><a href="http://www.hashdata.xyz/#block-aboutus-img">关于我们</a></li>
		    <li class=""><a href="http://www.hashdata.xyz/aboutus">加入我们</a></li>
		</ul>
	    </div>
	</div>


    <div id="content">

<div class="wy-grid-for-nav">

    {# SIDE NAV, TOGGLES ON MOBILE #}
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="topLevel">
                {% block topMenu %}
                {% set toctree = toctree(maxdepth=1, collapse=False, includehidden=True) %}
                {% if toctree %}
                {{ toctree }}
                {% else %}
                <!-- Local TOC -->
                <div class="local-toc">{{ toc }}</div>
                {% endif %}
                {% endblock %}
            </div>

            <div class="wy-side-nav-search">
                {% block sidebartitle %}

                <!--{% if logo and theme_logo_only %}-->
                <!--<a href="{{ pathto(master_doc) }}">-->
                <!--{% else %}-->
                <!--<a href="{{ pathto(master_doc) }}" class="icon icon-home"> {{ project }}-->
                <!--{% endif %}-->

                <!--{% if logo %}-->
                <!--{# Not strictly valid HTML, but it's the only way to display/scale it properly, without weird scripting or heaps of work #}-->
                <!--<img src="{{ pathto('_static/' + logo, 1) }}" class="logo" />-->
                <!--{% endif %}-->
                <!--</a>-->

                <!--{% if theme_display_version %}-->
                <!--{%- set nav_version = version %}-->
                <!--{% if READTHEDOCS and current_version %}-->
                <!--{%- set nav_version = current_version %}-->
                <!--{% endif %}-->
                <!--{% if nav_version %}-->
                <!--<div class="version">-->
                <!--{{ nav_version }}-->
                <!--</div>-->
                <!--{% endif %}-->
                <!--{% endif %}-->

                {% include "searchbox.html" %}

                {% endblock %}
            </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                {% block menu %}
                {% set toctree = toctree(maxdepth=3, collapse=theme_collapse_navigation, includehidden=True) %}
                {% if toctree %}
                {{ toctree }}
                {% else %}
                <!-- Local TOC -->
                <div class="local-toc">{{ toc }}</div>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

        {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
        {# <nav class="wy-nav-top" role="navigation" aria-label="top navigation"> #}
        {#     <i data-toggle="wy-nav-top" class="fa fa-bars"></i> #}
        {#     <div class="wy-nav-top-search"> #}
        {#         {% include "searchbox.html" %} #}
        {#     </div> #}
        {# </nav> #}


        {# mobile top level nav #}
        <div class="topLevel m-topLevel">
            {% set toctree = toctree(maxdepth=1, collapse=False, includehidden=True) %}
            {% if toctree %}
            {{ toctree }}
            {% else %}
            <!-- Local TOC -->
            <div class="local-toc">{{ toc }}</div>
            {% endif %}
        </div>

        {# PAGE CONTENT #}
        <div class="wy-nav-content">
            <div class="rst-content">
                {% include "breadcrumbs.html" %}
                <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
                    <div itemprop="articleBody">
                        {% block body %}{% endblock %}
                    </div>
                </div>
                {% include "footer.html" %}
            </div>
        </div>

    </section>

</div>
{# {% include "versions.html" %} #}

</div>

{% if not embedded %}

<script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT:'{{ url_root }}',
        VERSION:'{{ release|e }}',
        COLLAPSE_INDEX:false,
        FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
        HAS_SOURCE:  {{ has_source|lower }}
    };
</script>
{%- for scriptfile in script_files %}
<script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
{%- endfor %}

{% endif %}

{# RTD hosts this file, so just load on non RTD builds #}
{% if not READTHEDOCS %}
<script type="text/javascript" src="{{ pathto('_static/js/theme.js', 1) }}"></script>
{% endif %}
<script src="{{ pathto('_static/js/bootstrap/bootstrap.min.js', 1) }}"></script>
<script>

$(function() {
    var triIcon = "{{ pathto('_static/img/tri-icon.png', 1) }}";
    $('.document .section h2').append( '<img src=' + triIcon + ' />' );
    $('.document .section h2').click(function() {
        $(this).parent().toggleClass('closed');
    });
});

$(function(){
    $('#m-nav-btn, #m-index li').click(function(e){
            $('#m-index').slideToggle(300, function(){
                $('#m-index').css('display') == "block" ?
                $('#m-header').css('background-color','#fff') :
                $('#m-header').css('background-color','rgba(255,255,255,0.9)');
            });
        });
        $('#content, #m-footer').click(function(){
            $('#m-index').slideUp();
            $('#m-header').css('background-color','rgba(255,255,255,0.9)')
        });

    /*
    $('.topLevel .toctree-l1 a.reference').each(function(index, ele) {
        var contentStr = ele. innerHTML;
        var aSet = new Set(['1.', '2.', '3.']);
        if (aSet.has(contentStr.substr(0,2)))
            ele.innerHTML = contentStr.substr(2);
    });
    */

});

</script>

{# STICKY NAVIGATION #}
{% if theme_sticky_navigation %}
<script type="text/javascript">
    jQuery(function () {
        SphinxRtdTheme.StickyNav.enable();
    });
</script>
{% endif %}

{% block footer %}
<div id="footer">
    <footer id="footer-1">
	<div class="container">
	    <div class="footer-block col-lg-3 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-5 col-xs-5">
		<div class="logo">
		    <img src="{{ pathto('_static/img/footer-logo.png', 1) }}"/>
		</div>
		<p>北京酷克数据科技有限公司</p>
		<p>地址：北京市朝阳区望京博泰国际B座612</p>
	    </div>
	    <div class="footer-block col-lg-3 col-md-4 col-sm-5 col-xs-5">
		<p class="title">联系地址</p>
		<p>电话：010-64710206</p>
		<p>微博：@HashData</p>
		<p>邮件：business@hashdata.cn</p>
	    </div>
	    <div class="footer-block qrcode col-lg-3 col-md-3">
		<p class="title">微信公众号</p>
		<img src="{{ pathto('_static/img/qrcode.png', 1) }}"/>
	    </div>
	</div>
    </footer>
    <footer id="footer-2">
	<p>Copyright © 2016 HashData Ltd. 京ICP备16019672号-1</p>
	<p><span class="emblem"></span>京公安网备11010502031309号</p>
    </footer>
</div>

<div id="m-footer">
    <div id="m-footer-bg"></div>
    <footer id="footer-1">
	<div class="logo"><img src="{{ pathto('_static/img/footer-logo.png', 1) }}" /></div>
	<div class="address">
	    <p>北京酷克数据科技有限公司</p>
	    <p>地址：北京市朝阳区望京博泰国际B座612</p>
	</div>
	<div class="connect">
	    <p class="title">联系地址</p>
	    <p>电话：010-64710206</p>
	    <p>微博：@HashData</p>
	    <p>邮件：business@hashdata.cn</p>
	    <p>扫描二维码关注公众号：</p>
	    <div class="qrcode">
		<img src="{{ pathto('_static/img/qrcode.png', 1) }}"/>
	    </div>
	</div>
    </footer>
    <footer id="footer-2">
	<div class="copyright">
	    <p>Copyright © 2016 HashData Ltd. 京ICP备16019672号-1</p>
	    <p><span></span>京公安网备11010502031309号</p>
	</div>
    </footer>
</div>

{% endblock %}


</body>
</html>
